.aside-instagram{
    width: 100%;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/backgroundInsta.png");
    background-repeat: no-repeat;
    background-position: right;
}

.aside-instagram >div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside-img-button{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.aside-cards{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    height: 320px;
}

.aside-cards ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:10px;
    margin-right: 10px;
    padding-right: 50px;
    overflow-y: HIDDEN;
    overflow-x: scroll;
}

.aside-cards li{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 308px;
    margin: 20px;
    border-radius: var(--card-radius);
    gap: 16px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: all 0.5s;
   
}

.aside-cards img{
    width: 250px;
    height: 220px;
    border-radius: var(--card-radius);
}

#aside-button{
    background-color: #51A0DC;
    width: 240px;
    height: 54px;
    font-size: 13px;
}

#aside-button:hover{
    background-color: #51A0DC;
    opacity: 0.8;
}

.box-button{
    display: flex;
    justify-content: center;
    width: 100%;
}

#box-img{
    display: flex;
    justify-content: center;
    width: 100%;
  
}

.img-insta{
    width: 90%;
    margin-top: 20px;
}

@media (min-width: 768px){

    .aside-img-button {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    .img-insta {
        width: 400px;
        margin-top: 20px;
    }
}

@media (min-width: 1024px){
    .aside-instagram{
        width: 100%;
        /* max-height: 500px; */
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url("../assets/backgroundInsta.png");
        background-repeat: no-repeat;
        background-size: 85%;
        background-position: right;
    }
    
    .aside-instagram >div{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .aside-img-button{
        display: flex;
        width: 100%;
        height: 200px;
        margin-top: 20px;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
    }
    
    .aside-cards{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        height: 350px;
    }
    
    .aside-cards ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0px;
        padding-right: 20px;
    }
    
    .aside-cards li{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        padding: 1rem;
        cursor:pointer;
        margin: 0px;
    }
    
    .aside-cards img{
        border-radius: var(--card-radius);
        width: 300px;
        height: 270px;
    }
    
    #aside-button{
        background-color: #51A0DC;
        width: 254px;
        height: 67px;
        font-size: 16px;
        background-color: #51A0DC;
        margin-right: 10px;
    }
    
    #aside-button:hover{
        background-color: #51A0DC;
        opacity: 0.8;
    }
    
    .box-button{
        display: flex;
        justify-content: center;
        width: 40%;
    }
    
    .box-img{
        display: flex;
        justify-content: flex-end;
        width: 40%;
    }
}  


@media (min-width: 1770px){
    .aside-cards {
        padding-right: 140px;
    }
    
    .aside-instagram {
        margin-top: 60px;
    }
}


@media (min-width: 1440px){
    .aside-cards li {
        width: 360px;
        height: 290px;
    }

    .aside-cards img {
        width: 330px;
        height: 290px;
    }

    .aside-instagram {
        background-size: 80%;
        height: 530px;
    }

    #aside-button {
        margin-right: 0px;
        width: 290px;
        height: 80px;
        font-size: 17px;
    }
}


@media (min-width: 2560px){

    .aside-instagram {
        background-size: 73%;
        height: 530px;
    }
    .aside-cards {
        padding-right: 140px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 205px;
    }

    .aside-cards li {
        width: 500px;
        height: 350px;
    }

    .aside-cards img {
        width: 430px;
        height: 350px;
    }
}