.header_container{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0px 2rem;
    position: fixed;
    width: 100vw;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img{
    width: 320px;
}

.marca{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}


.cabecalho{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.categorias a{
    color: var(--color-browndark);
    list-style: none;
    cursor: pointer;
    font-family: 'Inter';
}

.categorias a:hover{
  text-decoration: underline;
  font-weight: bold;
  color: var(--color-pinkpastel);
}

.categorias li{
    padding: 10px;
    display: inline-block;
    list-style: none;
    font-size: 16px;
    color: var(--color-browndark)
}

@media (min-width: 1024px){
    .container{
        width: 90vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .marca{
        display: flex;
        align-content: flex-start;
        align-items: center;
        height: 100px;
        width: 400px;
        padding-top: 20px;
        }

    .cabecalho{
        display: inline-block;  
    }

    .categorias a{
        color: var(--color-browndark);
        list-style: none;
        cursor: pointer;
        font-family: 'Inter';
    }

    .categorias a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: var(--color-pinkpastel);
    }

    .categorias li{
        margin-left: 30px;
        display: inline-block;
        list-style: none;
        font-size: 17px;
        color: var(--color-browndark)
    }
}