.section-terapy{
    background-image: url("../assets/backgroundTerapy.png");
    background-repeat: no-repeat;
    background-size: 90%;
    width: 100%;
    height: 1670px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.section-terapy >div{
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-terapy{
    width: 50%;
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
    gap: 40px; 
}

.cards-individual{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.text-couple{
    width: 50%;
    display: flex;
    width: 50%;
    align-items: center;
    flex-direction: column;
    gap: 40px; 
}

.individual-para >p{
    font-family: 'Inter';
    font-size: 17px;
    font-weight: normal;
    text-align: justify;
    color: var(--color-grey);
    padding-bottom:50px;
    line-height: 1.2;
}
.cards-couple{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.terapy-cards{
    width: 73%;
    overflow-y: HIDDEN;
    overflow-x: scroll;
    margin-bottom: 40px;
}

.casual-para >p{
    font-family: 'Inter';
    font-size: 17px;
    font-weight: normal;
    text-align: justify;
    color: var(--color-grey);
    padding-bottom:50px;
    line-height: 1.2;
}

#button-terapy{
    width: 440px;
    height: 100px;
    border: transparent;
    cursor: pointer;
    font-size: 18px;
}

.individual-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.couple-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (min-width: 768px){
    .terapy-card{
        width: 73%;
        overflow-y: hidden;
        overflow-x: hidden;
        margin-bottom: 40px;
    } 
}
